In [8]:
city = ['Seattle', 'San Francisco', 'Los Angeles', 'Denver', 'Salt Lake City', 'Phoenix', 'Chicago', 'St. Louis', 'Dallas', 'Boston','Washington D.C', 'Miami']
totaldays = [306, 314, 275, 366, 366, 366, 366, 366, 306, 306, 366, 275]
poordays = [14, 22, 119, 34, 21, 70, 28, 10, 24, 0, 3,2]
aqimedian = [42, 45, 81, 58, 50, 75, 56, 52, 49, 42, 42, 44]
zone = ['west', 'west', 'west', 'mountain','mountain','mountain', 'central','central','central','east','east','east']

In [9]:
aqimedavg = sum(aqimedian)/len(aqimedian)

In [10]:
aqimedavg

53.0

In [11]:
totaldaysavg = sum(totaldays)/len(totaldays)

In [12]:
totaldaysavg

331.5

In [13]:
poordaysavg = sum(poordays)/len(poordays)

In [14]:
poordaysavg

28.916666666666668

In [15]:
import pandas as pd

aqistats = pd.DataFrame({'City':city, 'Total_Days':totaldays, 'Poor_Days':poordays, 'AQIMedian':aqimedian, 'Zone':zone})

In [16]:
aqistats

              City  Total_Days  Poor_Days  AQIMedian      Zone
0          Seattle         306         14         42      west
1    San Francisco         314         22         45      west
2      Los Angeles         275        119         81      west
3           Denver         366         34         58  mountain
4   Salt Lake City         366         21         50  mountain
5          Phoenix         366         70         75  mountain
6          Chicago         366         28         56   central
7        St. Louis         366         10         52   central
8           Dallas         306         24         49   central
9           Boston         306          0         42      east
10  Washington D.C         366          3         42      east
11           Miami         275          2         44      east