# Python Data Types

In [1]:
# 1. Boolean Data (0 or 1, False or True, no or yes)

a = True 
b = False 
type(a)

bool

In [2]:
print(b)

False

In [3]:
print('Hi My Name is Evan.')

Hi My Name is Evan.

In [4]:
# 2. Interger Data (1,-1,0,8)

multiply = 4*4
type(multiply)

int

In [5]:
import math
#3. Float Data (1.0,-1.0, 0.0, 8.0)
divide = 4/4
c = 3.4323
d = 2
e = c+d
mysqrt = math.sqrt(16)

type(c)
print(e)
print(type(e))
print(mysqrt)

5.4323
<class 'float'>
4.0

In [6]:
fname = 'Evan'
lname = "Prasky"
print(fname)
print(lname)
print(type(fname))

Evan
Prasky
<class 'str'>

In [7]:
type(d)

int

In [8]:
dtofloat = float(d)
type(dtofloat)

float

In [17]:
age = 26 
ages = str(age)
fullname = fname + ' ' +lname
print(fname + ' ' + lname +' '+ ages +' is years old')
print(type(ages))

Evan Prasky 26 is years old
<class 'str'>

In [18]:
print(f'{fullname} is {26} years old')

Evan Prasky is 26 years old

In [3]:
stringval = '3.33333'
intval = float(stringval)

In [4]:
intval2= int(intval)

In [5]:
intval2

3

 # Python Data Structures

In [28]:
# 1. Lists (are containers)
mylist=[1,2,3,4,5,6,7,8,9,10]
mylist2 =[45.67,33.21,['Evan','Prasky'],100]

# Indexing in Python 
Index = [0,1,2,3,4,5,6,7,8,9]
#       [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1]
mylist[-10]

1

In [27]:
city = ['Burlington','Portland','Concord', 'Boston','Worcester', 'Providence', 'Hartford']

In [30]:
len(city)

7

In [34]:
# Indexing a range of values 
# (Begin:End) *End value must be one index alue higher (exclusive)
northernne=city[0:3]

In [35]:
northernne

['Burlington', 'Portland', 'Concord']

In [36]:
city2 = city 
city2

['Burlington',
 'Portland',
 'Concord',
 'Boston',
 'Worcester',
 'Providence',
 'Hartford']

In [37]:
city2.append('Mt. Washington')

In [39]:
city2

['Burlington',
 'Portland',
 'Concord',
 'Boston',
 'Worcester',
 'Providence',
 'Hartford',
 'Mt. Washington']

In [40]:
city2.pop()

'Mt. Washington'

In [41]:
city2

['Burlington',
 'Portland',
 'Concord',
 'Boston',
 'Worcester',
 'Providence',
 'Hartford']

In [42]:
city2.pop(1)

'Portland'

In [43]:
city2.replace([2]'Manchester')

['Burlington', 'Concord', 'Boston', 'Worcester', 'Providence', 'Hartford']

In [50]:
# 2. Tuples (cannot be motified)
mytuple = (1,2,3,4,5,6,7,8,9,10,['Evan'])

In [51]:
mytuple[1]

2

In [52]:
mytuple[-1]

['Evan']

In [53]:
mytuplelist = list(mytuple)

In [54]:
mytuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, ['Evan'])

In [58]:
# 3. Dictionaries (Key-value Pairs)

snowfall = {'Burlington':81.2,'Portland':61.9,'Concord':61.4,'Boston':43.8,'Worcester':64.1,'Providence':33.8,'Hartford':40.5}

In [59]:
snowfall['Burlington']

81.2

In [63]:
snowfall2 = {'City':['Burlington','Portland','Concord'], 'snowfall' : [81.2,61.9,61.4]}

In [65]:
import pandas as pd
snowdf = pd.DataFrame(snowfall2)
snowdf

         City  snowfall
0  Burlington      81.2
1    Portland      61.9
2     Concord      61.4